<app-forms></app-forms>
<!--<h2>bHaRaTh</h2>

<app-header></app-header>
<button type="button" class="btn btn-outline-success">PickIt</button><br>-->

<!--string interpolation-->
<!--<p>NAME = {{name}}</p>
<p>AGE = {{age}}</p>
<p>VILLEGE = {{villege()}}<p>-->

<!--property binding-->
 <!--<button class="btn btn-danger"[disabled]="isDisabled">Click</button>  <br><br>
 <button class="btn btn-dark"(click)="change()">Change name</button> 
{{names}}-->

<!--Event binding-->
<!--<input type="text" (input)="changes()">
{{name1}}-->

<!--<input type="text" [(ngModel)]="name" name="text">
{{name}}-->

<!--Two way Data -->
<!--<input type="text" [(ngModel)]="name" name="text">
<button class="btn btn-warning" [disabled]="name === ''" (click)="change()">Enter name</button>
<p>{{text}}</p>-->

<!--Pipes-->
<!--<h2>{{named | uppercase}}</h2>
<h2>{{named | lowercase}}</h2><br>

<h3>{{day | date :'fullDate'}}</h3><br>
<h4>{{200 | currency}}</h4>
<h4>{{200 | currency:'INR'}}</h4>
<h4>{{200 | currency:'GBP'}}</h4><br>

<h2>{{named | slice:2:7}}</h2><br>

<h3>{{00.564 | percent}}</h3>
<p>{{3485.6323 | number:'5.2'}}</p>-->

<!--json,chain pipes-->
<!--<h6>{{user | json | lowercase}}</h6>

<h5>{{9 | sqr}}</h5>

<h4>{{ money | currency}} Indian rupees {{ money | cur:82.5}}</h4>

<h1>{{name | joinname:'kumar'}}</h1>-->

<!--<h2>@Input decorator</h2>
<p *ngFor="let x of user"><app-user [item]="x"></app-user></p>

<app-user (neweve)="receive($event)"></app-user>
<h2>{{named}}</h2>
<h2>{{age}}</h2>

<ul>
    <li *ngFor="let x of data">
        Name: {{x.name}}
        Email: {{x.email}}
    </li>
</ul>

<div class="card" style="width: 18rem;" *ngFor="let e of datas">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{e.name}}</h5>
    <p class="card-text">{{e.description}}</p>
      <a href="#" class="btn btn-primary">price:{{e.price}} </a>
    </div>
  </div>-->


 